/* Main content box. */
main.hk-main {
    display: flex;
    margin-left: 12rem; /* same as width of 'section.hk-nav' */
    padding-top: 5rem;
    width: 80%;
    color: #000062;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted hotpink;
}

/* HK-Main content */
#hk-main.no-margin {
    margin-left: 0;
}

main.hk-main .info {
    margin: 2rem;
    line-height: 2rem;
    width: 40%;
    font-weight: 400;
    text-align: center;
}

main.hk-main .gopher-error {
    width: 64px;
    /* Animation */
    animation-duration: 5s;
    animation-name: step;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes step {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(45deg);
    }
}