/* Main content box. */
main.hk-main {
    display: flex;
    margin-left: 12rem; /* same as width of 'section.hk-nav' */
    padding-top: 5rem;
    width: 80%;
    color: #000062;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* HK-Main content */
#hk-main.no-margin {
    margin-left: 0;
}

main.hk-main .info {
    margin: 2rem;
    line-height: 2rem;
    width: 40%;
    font-weight: 400;
}

main.hk-main .gopher {
    width: 64px;
    height: 64px;
    align-self: center;
    margin-bottom: 1rem;
    /* Animation */
    animation-name: rotate;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-direction: normal;
}

.button-login {
    background: url("/public/images/icons/signin-google-blue.png");
    background-size: contain;
    margin-top: 4rem;
    display: inline-block;
    color: #444;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: thin solid #6746c3;
    box-shadow: 2px 2px 2px #311b92;
    white-space: nowrap;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(14400deg)
    }
}