/* Main content box. */
main.hk-main {
    display: flex;
    margin-left: 12rem; /* same as width of 'section.hk-nav' */
    padding-top: 5rem;
    width: 90%;
    color: #000062;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HK-Main content */
#hk-main.no-margin {
    margin-left: 0;
}

section.summary-mass {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Graph data */
#summary-energy-graph, #summary-exercise-graph, #summary-stand-graph {
    width: 100%;
    height: 500px;
}

/* Graph data */
#summary-mass-graph, #summary-lean-mass-graph, #summary-bmi-graph, #summary-fat-percent-graph {
    width: 100%;
    height: 500px;
}

#summary-exposure-graph, #summary-walk-steps, #summary-walk-distance {
    width: 100%;
    height: 500px;
}

/* Dashboard Main chart */
.summary-main {
    width: 90%;
    height: 500px;
}

/* Dashboard Control chart */
.summary-controls {
    width: 78%;
    height: 125px;
    margin-top: -4rem;
    margin-bottom: 4rem;
}