/* Main content box. */
main.hk-main {
    display: flex;
    margin-left: 12rem; /* same as width of 'section.hk-nav' */
    padding-top: 5rem;
    width: 90%;
    color: #000062;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted hotpink;
}

/* HK-Main content */
#hk-main.no-margin {
    margin-left: 0;
}

/* Graph data */
#summary-energy-graph, #summary-exercise-graph, #summary-stand-graph {
    width: 100%;
    height: 500px;
}

/* Graph data */
#summary-mass-graph, #summary-lean-mass-graph, #summary-bmi-graph, #summary-fat-percent-graph {
    width: 100%;
    height: 500px;
}

#summary-exposure-graph {
    width: 100%;
    height: 500px;
}