<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HK</title>
    {{template "favicon"}}
    {{template "css"}}
    <link rel="stylesheet" href="/public/css/main.css">
    {{template "js"}}
</head>
<body>
{{template "headlinetopbar" .Title}}
{{template "navprimary" .NP}}
{{template "navsecondary" .NS}}

<!-- The main body -->
<main id="hk-main" class="hk-main">
    <article class="info">
        Preparing your health data. Check your <a href="/records">Records</a> in a few minutes.
        Data is will be deleted when you close the browser tab. Your temporary user ID is {{.UserID}}.
    </article>
    <img class="gopher" src="/public/images/gopher.png" alt="Gopher logo">
</main>
</body>
</html>