<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HK</title>
    {{template "favicon"}}
    {{template "css"}}
    <link rel="stylesheet" href="/public/css/info.css">
    {{template "js"}}
</head>
<body>
{{template "headlinetopbar" .Title}}
{{template "navprimary" .Active}}
{{template "navsecondary" .NS}}

<!-- The main body -->
<main id="hk-main" class="hk-main">
    <h1>Our Vision</h1>
    <p>We like to help humanity live a healthy life. In order for us to live a healthy life
    we need to have a sense of your workout habits. usense.io wants to be health dashbaoard of your life.</p>

    <h3> Live it. Measure it. Monitor it. Live it.</h3>
</main>
</body>
</html>