<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HK</title>
    {{template "favicon"}}
    {{template "css"}}
    <link rel="stylesheet" href="/public/css/info.css">
    {{template "js"}}
</head>
<body>
{{template "headlinetopbar" .Title}}
{{template "navprimary" .NP}}
{{template "navsecondary" .NS}}

<!-- The main body -->
<main id="hk-main" class="hk-main">
    <h1>Questions</h1>
    <p> Please email us with your question:</p>
    <address>
        <a href="mailto:usense-support@usense.io">Support</a><br>
        <a href="mailto:usense-privacy@usense.io">Privacy</a>
    </address>
</main>
</body>
</html>