<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HK</title>
    {{template "favicon"}}
    {{template "css"}}
    <link rel="stylesheet" href="/public/css/info.css">
    {{template "js"}}
</head>
<body>
{{template "headlinetopbar" .Title}}
{{template "navprimary" .NP}}
{{template "navsecondary" .NS}}

<!-- The main body -->
<main id="hk-main" class="hk-main">
    <h1>Our Vision</h1>
    <p>We like to help humanity live a healthy life. In order for us to achieve that
    we need to have a sense of our living habits. @usense strives to be a workout dashboard of our lives.</p>

    <p> We will start with helping you maintain a dashboard of Apple Health export data.</p>
    <h3> Live it. Measure it. Monitor it. Live it.</h3>
</main>
</body>
</html>