{{/* COmmon wrapper for <js> */}}
{{define "js"}}
    <!-- JS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/public/js/togglePrimaryNav.js"></script>
    <script type="text/javascript" src="/public/js/fetch.js"></script>
{{end}}