<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HK Login</title>
    {{template "favicon"}}
    {{template "css"}}
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>

<!-- The main body -->
<main id="hk-main" class="hk-main">

</main>
</body>
</html>