<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HK Login</title>
    {{template "favicon"}}
    {{template "css"}}
    <link rel="stylesheet" href="/public/css/main.css">
    {{template "js"}}
</head>
<body>
{{template "headlinetopbar" .Title}}
{{template "navprimary" .NP}}

<!-- The main body -->
<main id="hk-main" class="hk-main">
    <button class="button-login" id="auth"></button>

    <script type="text/javascript">
        document.getElementById("auth").onclick = function () {
            location.href = "/auth";
        };
    </script>
</main>
</body>
</html>