<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Records</title>
    {{template "favicon"}}
    {{template "css"}}
    {{template "js"}}
</head>
<body>
{{template "headlinetopbar" .Title}}
{{template "navprimary" .Active}}
{{template "navsecondary" .NS}}

<!-- The main body -->
<main id="hk-main" class="hk-main">
</main>
</body>
</html>