<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Records</title>
    {{template "favicon"}}
    {{template "css"}}
    <link rel="stylesheet" href="/public/css/records.css">
    {{template "js"}}
</head>
<body>
{{template "headlinetopbar" .Title}}
{{template "navprimary" .NP}}
{{template "navsecondary" .NS}}

<!-- The main body -->
{{/* Deprecated, User records-xhr- instead. They use JS to load data and diaply or make graphs. */}}
<main id="hk-main" class="hk-main">
    <h3 id="records-devices">Amount Data captured by each Source</h3>
    <table class="records">
        <tr>
            <th>Source</th>
            <th>Count</th>
        </tr>
        {{if .Devices}}{{range $, $values := .Devices}}
            <tr>
                <td>{{$values.Key}}</td>
                <td>{{numWithComma $values.Count}}</td>
            </tr>{{end}}{{end}}
    </table>
    <h3 id="records-type">Type of data captured</h3>
    <table class="records">
        <tr>
            <th>Source</th>
            <th>Count</th>
        </tr>
        {{if .Types}}{{range $, $values := .Types}}
            <tr>
                <td>{{$values.Key}}</td>
                <td>{{numWithComma $values.Count}}</td>
            </tr>{{end}}{{end}}
    </table>
    <h3 id="records-type">Data Summary with Type and Metadata </h3>
    <table id="records-all" class="records">
        <tr>
            <th>Source</th>
            <th>Type</th>
            <th>Metadata Key</th>
            <th>Count</th>
        </tr>
        {{if .Records}}{{range $, $values := .Records}}
            <tr>
                <td>{{$values.Name}}</td>
                <td>{{$values.Type}}</td>
                <td>{{$values.Key}}</td>
                <td>{{numWithComma $values.Count}}</td>
            </tr>{{end}}{{end}}
    </table>

</main>
</body>
</html>